@import 'utils/variables';
@import 'components/type';

$noir: #0D1117;
$bleu: #01DBE8;
$blanc: #E0E0E0;
body {
    font-family: "Outfit", sans-serif;
    font-size: 20px;
    line-height: 1.4;
    margin: 0;
    font-weight: 300;
    background-color: $noir;
    color:$blanc;
    overflow-x: hidden;
}
h1 {
    color:$bleu;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom:48px;
}
h2{
    line-height: 1.2;
    margin-bottom:34px;
    font-weight: 500;
    font-size: 28px;
    margin-top: 0px;
}
p{
    margin-top:0px;
    margin-bottom:28px;
}
img{
    width: 100%;
    filter: drop-shadow(0 0px 10px $bleu);
}
.grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding-left: 24px;
    padding-right: 24px;
    column-gap: 12px;
}
.grid > * {
    grid-column: 1 / -1;
}
.header__nav {
    display: flex;
    width: calc(100% + 48px);
    margin-left: -24px;
    background-color: #000000;
    align-items: flex-end;
    padding: 10px 24px;
    box-sizing: border-box;
    box-shadow: 0 2px 2px $bleu;
    position: relative;
    justify-content: space-between;
    height: 75px;
}
.header__nav-AIAirsound {
    color: $blanc;
    font-size: 28px;
    font-weight: 600;
    margin: 0;
    flex: 1;
    text-align: left;
    display: flex;
    align-items: flex-end;
    height: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
}

.menu__btn {
    background: none;
    border: none;
    border-radius: 100%;
    font-size: 24px;
    cursor: pointer;
    color: $blanc;
    position: fixed;
    right: 24px;
    z-index: 10;
    width: 54px;
    height: 54px;
}
.menu__btn::before {
    content: "☰";
    font-size: 32px;
    display: block;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 3px;
}
.menu--open .menu__btn::before {
    content: "✕";
}
.menu__liste {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: $noir;
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
    z-index: 5;
    color: $bleu;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 24px;
}
.menu__el {
    margin: 36px 0;
    text-align: left;
    list-style: none;
}
.hidden-mob{
    display: none;
}
.menu__link {
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    color: $blanc;
    transition: color 0.2s ease;
}
.menu__link:hover {
    color: $bleu;
}
.menu--open .menu__liste {
    transform: translateX(0);
}
.blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 4;
    transition: opacity 0.3s ease;
    opacity: 0;
    pointer-events: none;
}
.menu--open .blur-overlay {
    opacity: 1;
    pointer-events: all;
}

h3 {
    font-weight: 700;
    font-size: 20px;
    margin-top:0px;
    margin-bottom:28px;
}
.header__titre {
    margin-top:24px
}
.icons{
    display: flex;
    flex-direction: row;
    gap:24px;
    margin-top:100px;
    justify-content: center;
    margin-right:24px;
    list-style: none;
    padding: 0;
}
.icons__profil{
    width: 30px;
    filter: none;
}
.icons__panier{
    width: 30px;
    filter: none;
}
.icons__flag{
    width: 30px;
    filter: drop-shadow(0 0px 1px #ffffff);
}
.icons__panier:hover{
    filter: drop-shadow(0 0px 5px #01DBE8);
}
.icons__profil:hover{
    filter: drop-shadow(0 0px 5px #01DBE8);
}
.icons__flag:hover{
    filter: drop-shadow(0 0px 5px #01DBE8);
}
.btncmd{
    background-color: $bleu;
    color: $noir;
    border: none;
    height: 50px;
    border-radius: 999px;
    box-sizing: border-box;
    box-shadow: 0 0px 20px $bleu;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    font-family: inherit;
    margin-bottom:24px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}
.btncmd:hover{
    background-color: #00b6c0;
}
.btndécouvrir{
    text-decoration: none;
    color: $bleu;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 48px;
}
.écouteurdémo {
    width: 150%;
}
.scroll{
    height: 1400px;
}
.scroll__video{
    display: flex;
    position: relative;
    overflow: hidden;
    justify-items: center;
    align-items: center;
    height: 100vh;
}
canvas {
    width: 150%;
    height: auto;
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.section {
    margin-bottom: 96px;
}
.section > *:last-child {
    margin-bottom: 0;
}
.évidence{
    font-weight: 500;
    color: $bleu;
}
.info{
    overflow-x: hidden;
}
.info__mockup{
    width: 150%;
    display: flex;
    justify-self: center;
}
.Bigévidence{
    font-size: 28px;
    font-weight: 700;
    color: $bleu;
}
.soundease__logo{
    width: 50px;
    margin-bottom:22px;
    margin-left:6px;
    margin-top:-6px;
    filter:none;
}
.soundease{
    display: flex;
}
.barre{
    height: 5px;
    width: 75%;
    background-color: $bleu;
    justify-self: center;
    border-radius: 999px;
    box-shadow: 0 0px 20px $bleu;
    margin-top:20px;
    margin-bottom:48px
}
.caractéristiques__liste{
    margin-top:0px;
    margin-bottom:28px;
    list-style-position: outside;
    margin-left: -1.5em;
}
.caractéristiques__sous-titre {
    margin-bottom:0px;
    margin-left:0.5em;
}
.avis__commentaire{
    padding: 24px 12px;
    border-radius: 25px;
    border: 1px solid $bleu;
    box-sizing: border-box;
    width: 100%;
    flex-direction: column;
    gap: 12px;
}
.avis__commentaire-date{
    font-size: 14px;
    color: #9E9E9E;
    margin-bottom:14px;
    line-height: 1.2;
    grid-column: 4/-1;
    text-align: end;
    max-height: 50px;
}
.avis__commentaire-nom{
    margin-bottom:14px;
    font-weight: 500;
    max-height: 50px;
}
.gridcom{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 24px;
    padding-bottom: 24px;
    column-gap: 12px;
}
.avis__commentaire-texte{
    grid-column: 1/-1;
    margin-bottom: 12px;
}
.avis__commentaire-réponse{
    grid-column: 2/-1;
    font-weight: 200;
    display: flex;
    align-items: flex-start;
    margin-left: 12px;
}
.avis__commentaire-réponse::before{
    content: "•";
    margin-right: 8px;
}
.avis {
    display: flex;
    transition: transform 0.4s ease;
    width: 400%;
    touch-action: pan-y;
    gap: 24px;
}
.avis__commentaire-entete{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}
.statut {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 24px;
}
.statut__barre {
    width: 12px;
    height: 12px;
    background-color: #00777e;
    border-radius: 999px;
    transition: background-color 0.3s, opacity 0.3s;
    cursor: pointer;
}
.statut__barre--active{
    width: 24px;
    height: 12px;
    background-color: $bleu;
    border-radius: 999px;
}
.commentaire{
    overflow: hidden;
    position: relative;
}
.avis__prev,
.avis__next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 2rem;
    color: $bleu;
    cursor: pointer;
    z-index: 2;
    padding: 0 0.5rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
    display: none;
}
.avis__prev {
    left: 0;
}
.avis__next {
    right: 0;
}
.boutique__image-tout{
    width: 75%;
    justify-self: center;
}
.boutique__titre-produit{
    text-align: center;
    font-weight: 700;
}
.lowévidence{
    font-weight: 500;
}
.boutique__rond{
    display: flex;
    gap: 0.5em;
    grid-column: 1/ span 3;
}
.boutique__rond-noir{
    width: 50px;
    height: 50px;
    background-color: #000;
    border-radius: 999px;
    border: 2px solid $bleu;
    cursor: pointer;
    transition: background-color 0.3s ease
}
.boutique__rond-noir:hover{
    background-color: #006267;
}
.boutique__rond-blanc{
    width: 50px;
    height: 50px;
    background-color: #FFF;
    border-radius: 999px;
    border: 2px solid $bleu;
    cursor: pointer;
    transition: background-color 0.3s ease
}
.boutique__rond-blanc:hover{
    background-color: #9dfaff;
}
.boutique__prix{
    grid-column: 5/ span 3;
    font-size: 40px;
    font-weight: 500;
    text-align: end;
}
.boutique__texte{
    margin-bottom: 48px;
}
.boutique__btnpanier{
    background-color: $bleu;
    color: $noir;
    border: none;
    height: 70px;
    border-radius: 999px;
    box-sizing: border-box;
    box-shadow: 0 0px 20px $bleu;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    font-family: inherit;
    margin-bottom:24px;
    grid-column: 2/span 5;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.boutique__btnpanier:hover{
    background-color: #00b6c0;
}
.boutique__barre {
    height: 5px;
    width: 100%;
    background-color: $bleu;
    justify-self: center;
    border-radius: 999px;
    box-shadow: 0 0px 20px $bleu;
    margin-top:24px;
    margin-bottom:48px;
    grid-column: 1/-1;
}
.boutique__image-écouteurs{
    width: 40%;
    justify-self: center;
}
.boutique__titre-produit{
    grid-column: 2/span 5;
}
.inséparable{
    white-space: nowrap;
}
.boutique__texte-petiteboutique {
    grid-column: 2/ span 5;
    text-align: center;
    margin-bottom: 48px;
}
.boutique__rond-petiteboutique {
    display: flex;
    gap: 0.5em;
    justify-self: center;
    margin-bottom:24px;
}
.boutique__prix-petiteboutique{
    grid-column: 1/ span 3;
    font-size: 28px;
    font-weight: 500;
    text-align: end;
    margin-top:6px;
}
.boutique__btnpanier-petiteboutique{
    background-color: $bleu;
    color: $noir;
    border: none;
    height: 50px;
    border-radius: 999px;
    box-sizing: border-box;
    box-shadow: 0 0px 20px $bleu;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2;
    font-family: inherit;
    margin-bottom:48px;
    grid-column: 4/span 3;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.boutique__btnpanier-petiteboutique:hover{
    background-color: #00b6c0;
}
.boutique__image-boitier{
    width: 50%;
    justify-self: center;
}
.boutique__image-cable{
    width: 50%;
    justify-self: center;
}
.footer {
    background-color: #000;
    box-shadow: 0 -2px 2px #01DBE8;
}
.footer__marque{
    color: $blanc;
    font-weight: 300;
    justify-self: center;
    margin-bottom:0px;
}
.footer__barre{
    height: 5px;
    width: 100%;
    background-color: $bleu;
    justify-self: center;
    border-radius: 999px;
    box-shadow: 0 0px 20px $bleu;
    margin-top:24px;
    margin-bottom:48px;
    grid-column: 3/ span 3;
}
.footer__texte{
    text-decoration: none;
    color:$blanc
}
.footer__commander{
    color: $bleu;
    font-weight: 700;
    margin-bottom: 24px;
    text-decoration: none;
}
.footer__colonne1{
    grid-column: 2/span 5;
    list-style: none;
    padding: 0;
    margin-bottom:12px;
    margin-top:0px;
}
.footer__colonne2{
    margin-bottom:12px;
    grid-column: 2/span 5;
    list-style: none;
    padding: 0;
    margin-top:0px;
}
.footer__logos{
    display: flex;
    gap: 1em;
    justify-self: center;
    margin-bottom:24px;
}
.footer__logo{
    filter:none;
    width: 40px;
    cursor: pointer;
}
.footer__logo:hover{
    filter: drop-shadow(0 0px 5px $bleu);
}
.footer__copyright{
    grid-column: 2/span 5;
    font-size: 14px;
    text-align: center;
    margin-bottom:24px;
}
.footer__li{
    margin-bottom:12px;
}
.footer__li:hover{
    text-decoration: underline $bleu;
}
.boutique__populaire{
    font-weight: 900;
    margin-bottom:0;
    grid-column: 1/span 3;
    margin-bottom:-4px;
    text-align: center;
    color: $bleu;
    text-shadow: 0 0 4px $bleu;
    display:none;
}
.menu__liste-clé{
    padding: 0;
}
@media (min-width: 1025px) {
    .grid {
        grid-template-columns: repeat(9, 1fr);
        column-gap: 24px;
        padding-left: 48px;
        padding-right: 48px;
        grid-template-rows: repeat(7, auto);
    }
    .header__nav{
        width: calc(100% + 96px);
        margin-left: -48px;
        justify-content: center;
        padding:10px 48px;
    }
    .menu__btn{
        display: none;
    }
    .menu__liste{
        position: static;
        width: 100%;
        transform: none;
        transition: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 0;
        gap: 24px;
        background-color: #000;
    }
    .header__nav-AIAirsound{
        flex:0;
        white-space: nowrap;
        align-items: center;
        height: 100%;
        margin:0;
    }
    .icons{
        margin:0;
        margin-left:24px;
    }
    .icons__profil{
        width: 24px;
    }
    .icons__flag{
        width: 24px;
        margin-top:3px;
    }
    .icons__panier{
        width: 24px;
    }
    .hidden-pc{
        display: none;
    }
    .hidden-mob{
        display: flex;
    }
    .menu__liste-clé{
        display: flex;
        flex-direction: row;
        gap: 48px;
        list-style: none;
    }
    
    .header__titre{
        font-size: 113px;
        grid-column: 1/span 4;
        margin-top:123px;
        position: absolute;
    }
    .header__intro{
        font-size: 28px;
        grid-column: 1/span 4;
        font-weight: 300;
        margin-bottom:34px;
        margin-top:232px;
    }
    .header__texte{
        grid-column: 1/span 4;
        margin-bottom:96px;
    }
    p{
        max-width: 600px;
    }
    .btncmd{
        grid-column: 1/span 3;
        height: 75px;
        margin-bottom:384px;
    }
    .btndécouvrir{
        grid-column: 4/span 1;
        margin-bottom:0;
        align-self: center;
        white-space: nowrap;
        margin-bottom:384px;
    }
    canvas{
        width: 50%;
        left: 70%
    }
    .scroll{
        position: absolute;
        z-index:-1
    }
    .démo__titre{
        grid-column: 1/span 4;
    }
    .démo__texte{
        grid-column: 1/span 4;
    }
    .info__titre{
        grid-column: 1/span 4;
    }
    .info__texte{
        grid-column: 1/span 4;
    }
    .info__sous-titre{
        grid-column: 1/span 4;
    }
    .info__mockup{
        grid-column: 5/span 5;
        width: 75%;
        align-self: flex-end;
    }
    .info__partietexte{
        grid-column: 1/span 4;
    }
    .info__partietexte p:last-of-type {
        margin-bottom: 0;
    }
    .mode__titre{
        text-align: center;
    }
    .partie__soundease{
        grid-column: 1/span 4;
    }
    .barre{
        grid-column: 5/span 1;
        height: 100%; 
        width: 5px;
    }
    .partie__soundcore{
        grid-column: 6/span 4;
    }
    .caractéristiques__groupe1{
        grid-column: 1/span 3;
        grid-row: 1/span 9;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 79px;
        margin-left:48px
    }
    .caractéristiques__groupe2{
        grid-column: 7/span 3;
        grid-row: 1/span 9;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 79px;
    }
    .boitierdemo{
        grid-column: 4/span 3;
        grid-row: 4/span 3;
        width: 80%;
        justify-self: center;
        align-self: center;
        margin-left:-10%
    }
    .caractéristiques__liste{
        margin-bottom:96px
    }
    .caractéristiques__titre{
        grid-column: 4/span 3;
        text-align: center;
    }
    .avis__prev,
    .avis__next{
        display: flex;
        height: 40px;
        width: 40px;
        top:95%;
        font-weight: 700;
        font-size: 40px
    }
    .avis__prev{
        left:300px;
    }
    .avis__next{
        right:300px;
    }
    .avis__commentaire{
        max-width: 600px;
        max-height: 500px;
        min-width: 400px;
    }
    .statut{
        margin-top:96px;
    }
    .gridboutique{
        display: grid;
        grid-template-columns: repeat(9, 1fr);
    }
    .tout{
        grid-column: 1/span 3;
        align-self: center;
        box-shadow: 0px 0px 10px $bleu;
        border-radius: 25px;
        border: 2px solid $bleu;
    }
    .boutique__produit{
        padding:12px;
    }
    .écouteurs {
        grid-column: 4/span 2;
        align-self: center;
    }
    .boitier{
        grid-column:6/span 2 ;
        align-self: center;
    }
    .cable{
        grid-column: 8/span 2;
        align-self: center;
    }
    .boutique__rond-blanc{
        max-width: 40px;
        max-height: 40px;
        min-width: 40px;
    }
    .boutique__rond-noir{
        max-width: 40px;
        max-height: 40px;
        min-width: 40px;
    }
    .boutique__btnpanier{
        grid-column: 2/span 7;
    }
    .boutique__btnpanier-petiteboutique{
        grid-column:4/span 5 ;
    }
    .boutique__titre-produit{
        grid-column: 1/-1;
    }
    .boutique__image-écouteurs{
        width: 50%;
    }
    .boutique__texte-petiteboutique{
        grid-column: 1/-1;
    }
    .boutique__barre{
        display: none;
    }
    .boutique__populaire{
    display:block;
}
    .inséparable{
        font-weight: 300;
        font-size: 20px;
        display: flex;
        justify-self: center;
        margin-top:6px;
    }
    .footer__marque{
        grid-column: 1/span 3;
        justify-self: flex-start;
        align-self: center;
        font-size: 80px;
        margin:0;
        grid-row: 1/-1;
    }
    .footer__barre{
        grid-column: 4/span 1;
        width: 5px;
        height: 200px;
        align-self: center;
        margin:0;
        grid-row: 1/-1;
    }
    .footer__colonne1{
        grid-column: 5/span 2;
        margin-top:96px;
        grid-row: 1/-1;
        margin-bottom: 96px;
    }
    .footer__colonne2{
        grid-column: 7/span 2;
        margin-top:96px;
        grid-row: 1/-1;
        margin-bottom: 96px;
    }
    .footer__logos{
        grid-column: 9/span 1;
        flex-direction: column;
        align-self: center;
        margin: 0;
        grid-row: 1/-1;
    }
    .footer__copyright{
        grid-column: 1/span 3;
        grid-row: 7/span 1;
        text-align: start;
    }
}
@media (min-width: 500px) and (max-width: 1024px) {
    p {
        max-width: 535px;
        justify-self: center;
    }
    h1 {
        max-width: 535px;
        justify-self: center;
        font-size: 80px;
    }
    h2 {
        max-width: 535px;
        justify-self: center;
    }
    h3 {
        max-width: 535px;
        justify-self: center;
    }
    .btncmd{
        max-width: 535px;
        justify-self: center;
        min-width: 450px;
    }
    .caractéristiques__groupe1{
        max-width: 535px;
        grid-column: 2/span 4;
        justify-self: center;
    }
    .caractéristiques__groupe2{
        max-width: 535px;
        grid-column: 2/span 4;
        justify-self: center;
    }
    .footer__colonne1{
        grid-column: 3/span 3;
    }
    .footer__colonne2{
        grid-column: 3/span 3;
    }
    canvas{
        width: 100%;
    }
    .btndécouvrir{
        justify-self: center;
    }
    .info__mockup{
        width: 90%;
        max-width: 700px;
    }
    .soundease{
        justify-self: center;
    }
    .boitierdemo{
        width: 50%;
        justify-self: center;
    }
    .avis__commentaire{
        max-width: 600px;
    }
    .boutique__image-tout{
        width: 50%;
    }
    .boutique__prix-petiteboutique{
        justify-self: flex-end;
        grid-column: 1/span 2;
    }
    .boutique__btnpanier-petiteboutique{
        grid-column: 3/span 3;
    }
}