@import 'utils/variables';
@import 'components/type';

$blanc: #FFF;
$fond:#EFEFEF;
$bleu:#008CFF;

body{
    font-family: "Outfit", sans-serif;
    background-color: $fond;
    font-size: 20px;
    line-height: 1.4;
    margin: 0;
    font-weight: 400;
    overflow-x: hidden;
    color: #000;
}
.grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding-left: 24px;
    padding-right: 24px;
    column-gap: 12px;
}
.grid > * {
    grid-column: 1 / -1;
}
.header{
    height: 75px;
    width: auto;
    background-color: $blanc;
    box-sizing: border-box;
    box-shadow: 0 2px 10px $bleu;
}
.header__titre{
    font-size: 28px;
    font-weight: 700;
    line-height: 1.2;
    margin:0;
    align-self: center;
}
.accueil__moi{
    width: 100%;
    border-radius: 25px;
    margin-top:48px;
    box-shadow:0 0px 15px $bleu;
    grid-column: 2/span 5;
}
.accueil__bonjour{
    font-weight: 500;
    text-align: center;
    margin: 24px;
    margin-bottom: 48px;
    line-height: 1.2;
    font-size: 40px;
}
.évidence{
    font-weight: 700;
}
.accueil__présentation{
    margin-bottom: 48px;
}
.accueil__projets{
    border-radius: 25px;
    height: 75px;
    border: none;
    background-color: $blanc;
    box-shadow:0 0px 15px $bleu;
    font-family: inherit;
    font-size: 20px;
    font-weight: 700;
    color:$bleu;
    margin-bottom:96px;
    cursor:pointer;
    transition: transform 0.5s ease;
}
.accueil__projets:hover{
    transform: scale(1.04);
}
.footer{
    background-color: $blanc;
    box-shadow: 0 -2px 10px $bleu;
}
.footer__contact{
    color: $bleu;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.2;
    margin-top:24px;
    margin-bottom:12px
}
p{
    margin:0
}
.footer__mail{
    margin-bottom:12px
}
.footer__numéro{
    margin-bottom:24px
}
.section {
  display: none;
}

.accueil--active {
  display: grid;
}

.projets--active {
  display: grid;
}
.projets__retour {
  margin-top: 48px;
  font-size: 40px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  padding: 0;
  padding-bottom: 5px;
  color: $bleu;
  font-weight: 500;
  border:none;
  box-shadow:0 0px 10px $bleu;
  border-radius: 10px;
  margin-bottom: 48px;
  transition: transform 0.5s ease;
  background-color: $blanc;
}
.projets__retour:hover{
    transform: scale(1.05);
}

.projets__rux,
.projets__janus,
.projets__DF,
.projets__credit {
    height: 100px;
    overflow: hidden;
}

.projets__rux--active,
.projets__janus--active,
.projets__DF--active {
    height: auto;
}

.projets__rux-contenu,
.projets__janus-contenu,
.projets__DF-contenu {
    opacity: 0;
    transition: opacity 0.3s ease;
    margin: 24px;
    margin-top: 0;
}

.projets__rux--active .projets__rux-contenu,
.projets__janus--active .projets__janus-contenu,
.projets__DF--active .projets__DF-contenu {
    opacity: 1;
}

.projets__rux-titre,
.projets__janus-titre,
.projets__DF-titre,
.projets__credit-titre {
    transition: all 0.3s ease;
    font-size: 28px;
    color: $bleu;
    margin: 24px;
    margin-top: 35px;
    line-height: 1;
}

.bouton {
    border-radius: 25px;
    box-shadow: 0px 0px 10px $bleu;
    transition: all 0.3s ease;
    background-color: $blanc;
    margin-bottom: 48px;
}

.projets__rux-fleche,
.projets__janus-fleche,
.projets__DF-fleche {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-right: 3px solid $bleu;
    border-bottom: 3px solid $bleu;
    transform: rotate(45deg);
    transition: transform 0.3s ease;
    margin-left: 10px;
}

.projets__rux--active .projets__rux-fleche,
.projets__janus--active .projets__janus-fleche,
.projets__DF--active .projets__DF-fleche {
    transform: rotate(135deg);
}

.projets__rux-header,
.projets__janus-header,
.projets__DF-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 24px;
    cursor: pointer;
}

.contenu__lien{
    text-decoration: none;
    font-weight: 700;
    color:$bleu;
}
.contenu__texte{
    margin-bottom:24px;
}

@media (min-width: 1025px) {
    .grid{
        column-gap: 24px;
        padding-left: 48px;
        padding-right: 48px;
        grid-template-rows: repeat(7, auto);
    }
    .accueil__moi{
        grid-column: 1/span 2;
        grid-row: 1/-1;
        margin:0;
        max-width: 400px;
        margin-top:192px;
    }
    .accueil__bonjour,
    .accueil__présentation{
        grid-column: 4/span 3;
    }
    .accueil__projets{
        grid-column: 4/span 2;
    }
    .accueil__présentation{
        margin-bottom:112px;
        font-size: 28px;
        max-width: 600px;
    }
    .header__titre{
        grid-row: 1/-1;
    }
    .accueil__bonjour{
        margin: 0;
        margin-bottom:48px;
        text-align: start;
        font-size: 80px;
        margin-top:192px;
    }
    .footer{
        margin-top:192px;
    }
    .accueil__projets{
        max-width: 400px;
        font-size: 28px;
        height: 100px;
    }
}