//Je n'ai pas eu besoin d'IA pour le SCSS entier
@import 'utils/variables';
@import 'components/type';

$premier: #13131a;
$deuxieme:#1e1e35;
$troisieme:#272743;
$quatrieme: #404072;
$texte:#F0F0F0;

body{
    font-family: "Exo 2", sans-serif;
    background-color: $premier;
    font-size: 20px;
    line-height: 1.4;
    margin: 0;
    font-weight: 400;
    overflow-x: hidden;
    color: $texte;
}
.grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding-left: 24px;
    padding-right: 24px;
    column-gap: 12px;
}
.grid > * {
    grid-column: 1 / -1;
}
.gridIN{
        padding-left: 24px;
        padding-right: 24px;
}
.header__nav{
    height: 75px;
    background-color:$deuxieme;
    width: calc(100% + 48px);
    margin-left: -24px;
    margin-bottom: 92px;
}
.header__soustitre{
    color:#BFBFBF;
    margin-top:0;
    margin-bottom:112px ;
}
.header__image{
    height: 400px;
    background-color: #BFBFBF;
}
h1{
    line-height:1.2;
    font-weight: 700;
    margin-top:0;
    margin-bottom:48px ;
}
h2{
    font-size: 28px;
    line-height:1.2;
    font-weight:500;
}
.lien{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 48px;
    width: calc(100% + 48px);
    margin-left: -24px;
    background-color: $troisieme;
    height:auto;
    padding-bottom: 24px;
    padding-top: 24px;
    box-sizing:border-box; 
}
.lien__bouton{
    display: block;
    height: 80px;
    background-color: $quatrieme;
    width: 140px;
}
.évidence{
    font-weight: 700;
}
p{
    margin:0
}
.projets__credit{
    cursor: pointer;
}
.projets__rux,
.projets__janus,
.projets__DF,
.projets__credit {
    height: 100px;
    overflow: hidden;
}
.projets__rux:hover,
.projets__janus:hover,
.projets__DF:hover,
.projets__credit:hover{
    transform: scale(1.04);
}
.projets__rux--active,
.projets__janus--active,
.projets__DF--active {
    height: auto;
}

.projets__rux-contenu,
.projets__janus-contenu,
.projets__DF-contenu {
    opacity: 0;
    transition: opacity 0.3s ease;
    margin: 24px;
    margin-top: 0;
}

.projets__rux--active .projets__rux-contenu,
.projets__janus--active .projets__janus-contenu,
.projets__DF--active .projets__DF-contenu {
    opacity: 1;
}

.projets__rux-titre,
.projets__janus-titre,
.projets__DF-titre,
.projets__credit-titre {
    transition: all 0.3s ease;
    font-size: 28px;
    color: #000;
    margin: 24px;
    margin-top: 35px;
    line-height: 1;
}

.bouton {
    border-radius: 25px;
    box-shadow: 0px 0px 10px #000;
    transition: all 0.3s ease;
    background-color: #FFF;
    margin-bottom: 48px;
}

.projets__rux-fleche,
.projets__janus-fleche,
.projets__DF-fleche {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-right: 3px solid #000;
    border-bottom: 3px solid #000;
    transform: rotate(45deg);
    transition: transform 0.3s ease;
    margin-left: 10px;
}

.projets__rux--active .projets__rux-fleche,
.projets__janus--active .projets__janus-fleche,
.projets__DF--active .projets__DF-fleche {
    transform: rotate(135deg);
}

.projets__rux-header,
.projets__janus-header,
.projets__DF-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 24px;
    cursor: pointer;
}

.contenu__lien{
    text-decoration: none;
    font-weight: 700;
    color:#000;
}
.contenu__texte{
    margin-bottom:24px;
}
/*
//case study
h2 {
    font-weight: 600;
    margin-bottom:34px;
    margin-top:24px;
    line-height: 1.2;
    font-size: 28px;
}
.contexte {
    position: relative;
    top:-38px
}
.photos {
    width: 100%;
    border-radius: 25px;
    box-shadow: 0px 0px 10px $bleu;
    margin-top:12px;
}
.photo__graphique {
    display:none
}
.contexte__photo{
    position: relative;
    top:-38px
}
.analyse {
    margin-top:12px
}
.first-text{
    margin-top:24px
}
.recherche {
    margin-top:58px;
}
.margin{
    margin-top:96px;
}
.problemes__text {
    margin-bottom:0;
}
.problemes__list {
    margin-top:0;
}
.conclusion__text:last-of-type {
    font-weight: 600;
}
p {
    margin-top:0px;
    margin-bottom:28px
}
h1{
    line-height: 1.2;
}
.section > p:last-child {
    margin-bottom: 24px;
}
.footer {
    height: 100%;
    background-color: $blanc;
    box-shadow: 0px -3px 5px $bleu;
    padding-top:200px;
    padding-bottom:24px ;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-content {
    font-size: 14px;
}
.logo img {
    height: 40px;
}
.logo {
    justify-self: end;
}
.nom {
    margin-bottom:12px;
    font-weight: 700;
}
.section {
    height: auto;
    background-color: $blanc;
    border-radius: 25px;
    box-shadow: 0px 0px 10px $bleu;
    z-index: 1;
}
.header__img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}
.header__banner {
    position: relative;
    width: 100%;
    left: -24px; 
    width: calc(100% + 48px); 
    top:-18px
}
.header__nav-titre {
    margin-left:24px;
    margin-right:24px;
    font-size: 28px;
    font-weight: 700;
    margin-top:20px;
}
.header__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 28px;
    z-index: 1;
}
.passageligne {
    display: block;
}
.header__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
}
.header__nav {
    height: 100%;
    background-color: $blanc;
    width: calc(100% + 48px);
    margin-left: -24px;
    box-shadow: 0px 3px 5px $bleu;
    z-index: 1;
}
.gridOut{
    padding: 0;
    display: grid;
}
.promo{
    margin-top:24px;
    height: auto;
}
.promo__text{
    margin-top:24px;
}
.critique{
    margin-top:24px;
    height: auto;
}
.critique__text{
    margin-top:24px;
}
.factuelle {
    margin-top:24px;
    height: auto;
}
.factuelle__text{
    margin-top: 24px;
}
.header__retour {
    cursor: pointer;
    box-shadow:0 0px 10px $bleu;
    border-radius: 10px;
    margin-bottom: 48px;
    transition: transform 0.5s ease;
    background-color: $blanc;
    position: absolute;
    margin-top:120px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
.header__retour:hover{
    transform: scale(1.05);
}
.header__retour-texte{
    font-size: 53px;
    color: $bleu;
    font-weight: 300;
    text-decoration: none;
    text-align: center;
    margin-bottom:12px;
    width: 50px;
}
.sitejanus{
    font-size: 28px;
    border-radius: 25px;
    background-color: $blanc;
    text-decoration: none;
    justify-self: center;
    text-align: center;
    padding:20px;
    transition: transform 0.5s ease;
    box-shadow:0 0px 10px $bleu;
    color: $bleu;
}
.sitejanus:hover{
    transform: scale(1.05);
}
.promo__photo{
    margin-bottom:24px;
}
.critique__photo{
    margin-bottom:24px;
}
.factuelle__photo{
    margin-bottom:24px;
}
//crédit
.crédit__portfolio{
    margin-top: 144px;
}
.créditTitre{
    font-size: 40px;
    margin-bottom:24px;
    margin-top: 0;
}
.créditSousTitre{
    margin-top:0;
    margin-bottom:17px;
}
.créditTexte{
    margin-bottom:56px;
    max-width: 535px;
}
.créditPrompts{
    background-color: #303030;
    color: #FFF;
    padding: 24px;
    border-radius: 10px;
    font-weight: 200;
    margin-bottom:12px;
}
.créditSection{
    margin-bottom:96px
}
*/
@media (min-width: 1025px) {
    .grid{
        column-gap: 24px;
        padding-left: 48px;
        padding-right: 48px;
        grid-template-rows: repeat(7, auto);
    }
    .accueil__moi{
        grid-column: 1/span 2;
        grid-row: 1/-1;
        margin:0;
        max-width: 400px;
        margin-top:192px;
        width: 100%;
    }
    .accueil__bonjour,
    .accueil__présentation{
        grid-column: 4/span 3;
    }
    .accueil__projets{
        grid-column: 4/span 2;
        max-width: 400px;
        font-size: 28px;
        height: 100px;
        margin-bottom:48px
    }
    .accueil__présentation{
        margin-bottom:112px;
        font-size: 28px;
        max-width: 600px;
    }
    .header__titre{
        grid-row: 1/-1;
    }
    .accueil__bonjour{
        margin: 0;
        margin-bottom:48px;
        text-align: start;
        font-size: 80px;
        margin-top:192px;
        max-width: 400px;
    }
    .footer{
        margin-top:192px;
    }
    .projets__rux,
    .projets__janus{
        grid-column: 1/span 3;
        width: 400px;
        justify-self: center;
    }
    .projets__DF,
    .projets__credit{
        grid-column: 5/span 3;
        width: 400px;
        justify-self: center;
    }
    .projets__rux,
    .projets__DF{
        grid-row: 2;
    }
    .projets__janus,
    .projets__credit{
        grid-row: 3;
    }
    .projets__retour{
        grid-row: 1;
        margin-bottom:142px;
    }
    //case study
    .gridOut{
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: repeat(7,auto);
        padding-left: 48px;
        padding-right: 48px;
        column-gap: 24px;
    }
    .header__nav {
        width: calc(100% + 96px);
        margin-left: -48px;
    }
    .header__banner {
        left: -48px; 
        width: calc(100% + 96px);
        height: 700px; 
    }
    .header__img{
        height: 700px;
    }
    .header__nav-titre{
        margin-left: 48px;
    }
    .contexte {
        grid-column: 2/ span 4;
        grid-row: 1/span 9;
    }
   .recherche {
        grid-column: 2/ span 3;
        grid-row: 1/span 5;
   }
   .analyse {
        grid-column: 6/ span 3;
        grid-row: 2/ span 6;
   }
   .commun {
        grid-column: 2/ span 4;
        grid-row: 1/span 9;
   }
   .choix {
        grid-column: 2/ span 4;
        grid-row: 1/span 9;
   }
   .repartition {
        grid-column: 5/ span 4;
        grid-row: 1/ span 9;
   }
   .axes {
        grid-column: 5/ span 4;
        grid-row: 1/ span 9;
   }
   .approche {
        grid-column: 5/ span 4;
        grid-row: 1/ span 9;
   }
   .direction {
        grid-column: 2/span 4;
        grid-row: 1;
   }
   .promo {
        grid-column: 5/span 3;
   }
   .critique {
        grid-column: 3/span 3;
   }
   .factuelle {
        grid-column: 5/span 3;
   }
   .plans {
        grid-column: 2/ span 4;
        grid-row: 1/ span 9;
   }
   .fin{
        grid-column: 2/ span 4;
        grid-row: 1/ span 9; 
    }
   .développement{
        grid-column: 2/ span 4;
        grid-row: 1/ span 9;
   }
   .marché {
        grid-column: 5/ span 4;
   }
   .problemes {
        grid-column: 2/ span 4;
   }
   .code {
        grid-column: 5/ span 4;
    }
   .conclusion {
        grid-column: 2/ span 4;
    }
   .header__title {
        font-size: 80px;
    }
    .contexte__photo {
        grid-column: 6/ span 3;
        grid-row: 8/ span 3;
    }
    .commun__photo {
        grid-column: 6/ span 3;
        grid-row: 8/span 3;
    }
    .repartition__photo1 {
        grid-column: 2/ span 3;
        grid-row: 7/ span 2;
    }
    .repartition__photo2 {
        grid-column: 2/ span 3;
        grid-row: 9/ span 2;
        margin:0
    }
    .plans__photo1 {
        grid-column: 6/ span 3;
        grid-row: 7/ span 3;
    }
    .plans__photo2 {
        grid-column: 1/ span 3;
        margin-top: 48px;
    }
    .plans__photo3 {
        grid-column: 4/ span 3;
        margin-top:96px
    }
    .plans__photo4 {
        grid-column: 7/ span 3;
        margin-top: 48px;
    }
    .photo__graphique {
        display:block;
        width: 100%;
        grid-column: 1/-1;
        position: absolute;
        align-self: end;
        width: calc(100% + 96px);
        margin-left: -48px;
    }
    .text-content {
        font-size: 20px;
    }
    .logo img{
        height: 80px;
    }
    .sitejanus{
        grid-column: 4/span 3;
    }
    .promo__photo{
        grid-column: 8/span 1;
        margin-top:24px;
        align-self: center;
    }
    .critique__photo{
        grid-column: 2/span 1;
        grid-row: 3;
        margin-top:24px;
        align-self: center;
    }
    .factuelle__photo{
        grid-column: 8/span 1;
        margin-top:24px;
        align-self: center;
    }
    //crédit
    .créditSection{
        justify-self: center;
    }
}
@media (min-width: 500px) and (max-width: 1024px) {
    .accueil__moi,
    .accueil__projets{
        width: 400px;
        justify-self: center;
    }
    .accueil__présentation{
        justify-self: center;
        max-width: 535px;
    }
    .projets__rux,
    .projets__janus,
    .projets__DF,
    .projets--active{
        width: 400px;
        justify-self: center;
    }
    //case study
    .section{
        max-width: 500px;
        justify-self: center;
    }
    .photos{
        max-width: 500px;
        justify-self: center;
    }
    //crédit
    .créditSection{
        justify-self: center;
    }
}